blinker @ file:///croot/blinker_1737448726027/work
click @ file:///work/perseverance-python-buildout/croot/click_1728387069202/work
Flask @ file:///croot/flask_1737454299809/work
Flask-Login @ file:///work/perseverance-python-buildout/croot/flask-login_1728497332576/work
Flask-SQLAlchemy==3.1.1
greenlet @ file:///croot/greenlet_1733860072744/work
itsdangerous @ file:///io/buildout/croot/itsdangerous_1732920215085/work
Jinja2 @ file:///croot/jinja2_1741710844255/work
MarkupSafe @ file:///croot/markupsafe_1738584038848/work
python-dotenv @ file:///work/perseverance-python-buildout/croot/python-dotenv_1728388189408/work
setuptools==75.8.0
SQLAlchemy @ file:///croot/sqlalchemy_1736565039440/work
typing_extensions @ file:///croot/typing_extensions_1734714854207/work
Werkzeug @ file:///croot/werkzeug_1737448706492/work
wheel==0.45.1