/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

header nav a {
    color: #e0e0e0;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    color: #a1c4fd;
}

h1 {
    color: #e0e0e0;
    text-align: center;
}

/* Table Styles */
table {
    width: 90%; /* Adjusted for mobile responsiveness */
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #282828;
}

table th, table td {
    padding: 10px;
    border: 1px solid #444;
    text-align: left;
}

table th {
    background-color: #444;
    color: #fff;
}

table tr:nth-child(even) {
    background-color: #333;
}

table tr:hover {
    background-color: #555;
}

/* Form Styles */
form {
    max-width: 500px;
    margin: 20px auto;
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    width: 90%; /* Adjusted for mobile */
}

form label {
    display: block;
    margin-bottom: 10px;
    color: #e0e0e0;
}

form input[type="text"],
form input[type="number"],
form input[type="date"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #555;
    background-color: #444;
    color: #e0e0e0;
    border-radius: 4px;
    box-sizing: border-box;
}

form button {
    background-color: #444;
    color: #e0e0e0;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
}

form button:hover {
    background-color: #555;
}

/* General Button Styles */
button, a {
    background-color: #444;
    color: #e0e0e0;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
}

button:hover, a:hover {
    background-color: #555;
}

.chart-container {
    width: 90%;
    max-width: 800px;
    margin: 30px auto;
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.chart-container canvas {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

/* Responsive Styling for Smaller Screens */
@media (max-width: 768px) {
    .chart-container {
        flex-direction: column;
    }

    .charts-container {
        flex-direction: column;
    }

    form div {
        flex-direction: column;
    }

    form select {
        width: 100%;
    }
}

.charts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.matchup-container {
    width: 90%;
    max-width: 300px;
    text-align: center;
    box-sizing: border-box;
    margin: 10px;
}

.PlayerStatsText {
    text-align: center;
    margin: 20px 0;
}
